{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="is-pulled-right">
        {% include 'buttonbar.html.twig' %}
    </div>

    <div class="mt-6">
        <h2 class="is-size-3 mb-2">{{ data.header }}</h2>
        <p>{{ data.message }} {% if data.link is defined %}<a class="ml-1 button is-small is-outlined is-rounded" href="{{ data.link }}" target="_blank" rel="noreferrer noopener">Mehr dazu</a>{% endif %}</p>
    </div>

    <div class="columns my-5">
        <div class="column">
            <div class="field">
                <label class="label is-medium">{% trans %}Start{% endtrans %}:</label>
                <div class="control">
                    <input class="input is-medium" type="date" id="start" value="{{ data.defaultstartdate }}">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label is-medium">{% trans %}Ende{% endtrans %}:</label>
                <div class="control">
                    <input class="input is-medium" type="date" id="end" value="{{ data.defaultenddate }}">
                </div>
            </div>
        </div>
    </div>

    <div class="my-4 content">

        <label class="label is-medium">{% trans %}Fortschritt{% endtrans %}:</label>
        <div class="control">
            <input class="input is-medium" type="text" id="progressvalue">
        </div>

        <progress class="progress is-info is-medium my-5" value="0" max="100" id="progress">0%</progress>

    </div>

    <div class="colum my-6">
        <h3 class="my-2 is-size-4">{% trans %}Request Beispiel{% endtrans %}:</h3>
        <div class="box">
            <strong>GET:</strong> https://digidates.de/api/v1/progress?start=2023-01-01&end=2023-01-31
        </div>
    </div>

    <div class="colum mt-5">
        <h3 class="my-4 is-size-4">{% trans %}Response Beispiel{% endtrans %}:</h3>
        <div class="my-4 is-bordered">
            <code class="p-4 is-block">
                <strong>JSON:</strong> { "float" : 0.22943402777777777, "percent" : 23 }
            </code>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
<script>

    const callApi = async () => {

        const start = document.getElementById('start').value;
        const end = document.getElementById('end').value;

        const response = await fetch('/api/v1/progress?start=' + start + '&end=' + end);
        const json = await response.json();

        document.getElementById('progress').value = json.percent;
        document.getElementById('progress').innerText = json.percent+'%';

        document.getElementById('progressvalue').value = json.float;
    }

    document.getElementById('start').onchange = function () {
        callApi();
    }

    document.getElementById('end').onchange = function () {
        callApi();
    }

    callApi();

</script>

{% endblock %}