{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <p>Willkommen bei DigiDates.de - Deinem API-Provider für Zeit- und Datumsberechnungen.</p>

    {% include 'buttonbar.html.twig' %}

    <div class="mt-6">
        <h2 class="is-size-3 mb-2">{{ data.header }}</h2>
        <p>{{ data.message }} {% if data.link is defined %}<a class="ml-1 button is-small is-outlined is-rounded" href="{{ data.link }}" target="_blank" rel="noreferrer noopener">Mehr dazu</a>{% endif %}</p>
    </div>

    <div class="columns my-5">
        <div class="column">
            <div class="field">
                <label class="label is-medium">Start:</label>
                <div class="control">
                    <input class="input is-medium" type="date" id="start" value="{{ data.defaultstartdate }}">
                </div>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label is-medium">Ende:</label>
                <div class="control">
                    <input class="input is-medium" type="date" id="end" value="{{ data.defaultenddate }}">
                </div>
            </div>
        </div>
    </div>

    <div class="my-4">
        <h3>Fortschritt:</h3>

        <progress class="progress is-info is-medium" value="0" max="100" id="progress">0%</progress>

    </div>

{% endblock %}

{% block javascripts %}
<script>

    const callApi = async () => {

        const start = document.getElementById('start').value;
        const end = document.getElementById('end').value;

        const response = await fetch('/api/v1/progress?start=' + start + '&end=' + end);
        const json = await response.json();

        document.getElementById('progress').value = json.float;
        document.getElementById('progress').innerText = json.percent+'%';
    }

    document.getElementById('start').onchange = function () {
        callApi();
    }

    document.getElementById('end').onchange = function () {
        callApi();
    }

    callApi();

</script>

{% endblock %}