<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="{{ data.meta_robots }}">
<title>{{ data.meta_title }}</title>
<meta name="description" content="{{ data.meta_desc }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css">
{% block stylesheets %}{% endblock %}
</head>
<body>
<section class="section">
    <div class="container is-max-desktop">
        {% block body %}{% endblock %}
    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">

        <a class="m-2 has-text-dark" href="{{ url('impressum') }}">Impressum</a>
        <a class="m-2 has-text-dark" href="{{ url('datenschutz') }}">Datenschutz</a>
        <span class="m-2">Made by <a href="https://bandemer.dev" class="has-text-dark">bandemer.dev</a></span>

    </div>
</footer>
{% block javascripts %}{% endblock %}
<script>
(function() {
    window.onload = function () {
        let sw = 0;
        let sh = 0;
        if (window.screen !== undefined) {
            sw = window.screen.width;
            sh = window.screen.height;
        }
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            return false;
        }
        httpRequest.open('GET', '/st?pu='+
            encodeURIComponent(window.location.href)+
            '&pt={{ data.meta_title|url_encode }}&sw='+sw+'&sh='+sh);
        httpRequest.send();
    }
})();
</script>

</body>
</html>