<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="{{ data.meta_robots }}">
<title>{{ data.meta_title }}</title>
<meta name="description" content="{{ data.meta_desc }}">
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" type="image/png" href="/img/digidates-logo32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/img/digidates-logo96x96.png" sizes="96x96">
<link rel="apple-touch-icon" sizes="180x180" href="/img/digidates-logo180x180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/img/digidates-logo144x144.png">
<meta property="og:title" content="{{ data.meta_title }}">
<meta property="og:description" content="{{ data.meta_desc }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://digidates.de">
<meta property="og:site_name" content="DigiDates.de">
<meta property="og:image" content="https://digidates.de/img/digidates-logo1200x630.jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
</head>
</head>
<body>
<section class="section">
    <div class="container is-max-desktop">
        {% block body %}{% endblock %}
    </div>
</section>
<footer class="footer">
    <div class="content has-text-centered">

        <a class="m-2 has-text-dark" href="{{ url('impressum') }}">Impressum</a>
        <a class="m-2 has-text-dark" href="{{ url('datenschutz') }}">Datenschutz</a>
        <span class="m-2">Made by <a href="https://bandemer.dev" class="has-text-dark">bandemer.dev</a></span>

    </div>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<script>
(function() {
    window.onload = function () {
        let sw = 0;
        let sh = 0;
        if (window.screen !== undefined) {
            sw = window.screen.width;
            sh = window.screen.height;
        }
        let httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            return false;
        }
        httpRequest.open('GET', '/st?pu='+
            encodeURIComponent(window.location.href)+
            '&pt={{ data.meta_title|url_encode }}&sw='+sw+'&sh='+sh);
        httpRequest.send();
    }
})();
</script>

</body>
</html>